<div flex layout="row">
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="true" md-whiteframe>
        <md-toolbar>
            <div class="md-toolbar-tools os">
                <h1>Packs</h1>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-content>
        </md-content>
    </md-sidenav>
    <div flex layout="column">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <span class="os">minecraft.js</span>
                </h2>
                <span flex></span>
                <md-button ng-click="app.settings($event)">settings</md-button>
            </div>
        </md-toolbar>
        <md-content flex>
            <ng-outlet></ng-outlet>
        </md-content>
    </div>
</div>
    <md-toolbar style="z-index: 60;">
        <div class="md-toolbar-tools os" ng-if="app._auth.user">
            <img src="https://minotar.net/helm/{{app._auth.user.selectedProfile.name}}/45.png">
            <span class="md-padding">{{app._auth.user.selectedProfile.name}}</span>
            <span flex></span>
        </div>
        <div class="md-toolbar-tools os" ng-if="!app._auth.user">
            <md-button ng-click="app.login($event)">Log in to play Minecraft</md-button>
        </div>
    </md-toolbar>