@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
md-card.warn {
  background-color: rgba(244, 67, 54, 0.40);
}
md-virtual-repeat-container {
  height: 400px;
}
.os{
  font-family: 'Open Sans', sans-serif !important;
}
.icon{
  margin-left: 10px;
}
md-fab-toolbar.pack-tools {
  position: absolute;
  right: 0;
  top: -14px;
  width: 100%;
}