@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
md-card.warn {
  background-color: rgba(244, 67, 54, 0.40);
}
md-card{
  background-color: rgba(238, 238, 238, 0.3);
}
.os{
  font-family: 'Open Sans', sans-serif !important;
}
.icon{
  margin-left: 10px;
}