<div flex layout-align="center center" layout="row" layout-padding>
    <div>
        <md-card ng-if="!user._auth.user" class="warn">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline os">No users found</span>
                </md-card-title-text>
            </md-card-title>
            <form name="login">
                <md-card-content>
                    <p>
                        To play minecraft please add a user to the launcher
                    </p>
                    <div layout="row">
                        <md-input-container>
                            <label>Email / Username</label>
                            <input name="username" ng-model="user.username" type="text" required>
                        </md-input-container>
                        <md-input-container class="md-accent">
                            <label class="md-accent">Password</label>
                            <input name="password" ng-model="user.password" class="md-accent" type="password" required>
                        </md-input-container>
                    </div>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-disabled="login.$invalid" ng-click="user.login()" type="submit">Log in now</md-button>
                </md-card-actions>
            </form>
        </md-card>
        <md-card ng-if="user._auth.user">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{user._auth.user.selectedProfile.name}}</span>
                    <span class="md-subhead">Currently logged in</span>
                </md-card-title-text>
                <md-card-title-media class="md-padding">
                    <div class="md-media-sm card-media">
                        <img src="https://minotar.net/helm/{{user._auth.user.selectedProfile.name}}/200.png">
                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="user.logout()">Log out</md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>